[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
selenium = "*"
pdf2image = "*"
opencv-python = "*"
pytesseract = "*"
sqlalchemy = "*"
duckdb = "*"
duckdb-engine = "*"
prefect = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.12"
