[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
openpyxl = "*"
selenium = "*"
pdf2image = "*"
opencv-python = "*"
pytesseract = "*"
sqlalchemy = "*"
duckdb = "*"
duckdb-engine = "*"
prefect = "*"
fuzzywuzzy = "*"
teradatasqlalchemy = "*"
keyring = "*"
python-dotenv = "*"
pytest-mock = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
